<settings> 
  <servers>
    <server>
      <username>admin</username>
      <password>AP3dm9y2MMh9NTzLVNxe1xBQiVs</password>
      <id>central</id>
    </server>
    <server>
      <username>admin</username>
      <password>AP3dm9y2MMh9NTzLVNxe1xBQiVs</password>
      <id>snapshots</id>
    </server>
  </servers>
 <settings> 
